@tailwind base;
@tailwind components;
@tailwind utilities;

/* ─── Global Reset & Base ─────────────────────────────────── */
body {
  background-color: #feeed2; /* Soft sepia background */
  color: #2f1107;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 0;
  padding: 0;
}

.text-sepia-warn {
  color: #6d2323; /* Light sepia for text */
}

.text-normal {
  color: #2f1107; /* Light sepia for text */
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.icon {
  width: 1.5rem; /* Matches the `w-6` size (6 x 0.25rem) */
  height: 1.5rem; /* Matches the `h-6` size (6 x 0.25rem) */
  fill: none;
  stroke: currentColor;
  vertical-align: middle;
  stroke-width: 2;
}

/* Responsive styles for the header */
@media (max-width: 768px) {
  .text-normal {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .max-w-7xl {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .flex-col {
    flex-direction: column;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .w-full {
    width: 100%;
  }

  .space-x-2 {
    margin-top: 1rem;
  }
}

/* Default styles */
h1 {
  text-align: center;
  margin: 20px 0;
}

/* Ruslan Display Font */
.ruslan-display {
  font-family: 'Ruslan Display', cursive;
  font-weight: 400; /* Default weight for Ruslan Display */
}
